html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.errMessage {
    font-size: 25px;
    color: red;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 .5rem black;
    width: 570px;
    height: 3rem;
    padding-top: 1rem;
    margin: 0 auto;
    border: .2rem solid black;
    border-radius: .2rem;
    background: rgba(0, 0, 0, .4);
}

.keys {
    display: flex;
    flex: 1;
    padding-top: 20%;
    align-items: center;
    justify-content: center;
}

.key {
    border: .2rem solid black;
    border-radius: .2rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .1s ease;
    width: 8rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.5);
    background: rgba(255, 198, 0, .5);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}